---
import ContentArticles from "./Content/Articles.astro";
import ContentProjects from "./Content/Projects.astro";
import ContentWorks from "./Content/Works.astro";
import ContentContacts from "./Content/Contacts.astro";
---

<section>
  <div class="mx-auto max-w-7xl px-8 pt-8 pb-12">
    <div class="mx-auto max-w-xl">
      <div class="grid gap-12 md:gap-24">
        <ContentWorks />
        <ContentProjects />
        <ContentArticles />
        <ContentContacts />
      </div>
    </div>
  </div>
</section>
