---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
  <div class="mx-auto max-w-7xl px-8 pb-12">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="pt-16 text-sm font-light">
          <p class="text-black dark:text-white font-semibold">
            {t("hOne")}
          </p>
          <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
            <p>
              {t("about")}
            </p>
            <p>
              {t("experience")}
            </p>
          </div>
        </div>
        <div class="mt-8 text-sm font-light">
          <p class="text-black dark:text-white font-semibold">
            {t("hTwo")}
          </p>
          <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
            <p>
              <span class="text-black dark:text-white">Front-end:</span>
              HTML, CSS, Javascript, ReactJS, Astro, NextJS
            </p>
            <p>
              <span class="text-black dark:text-white">Back-end:</span>
              NodeJS, Ruby on Rails, PostgresSQL, MongoDB, Firebase
            </p>
            <p>
              <span class="text-black dark:text-white">Mobile:</span>
              Android Studio, Kotlin, Jetpack Compose
            </p>
            <p>
              <span class="text-black dark:text-white">{t("pTwo")}:</span>
              AWS, Hostinger, Vercel, Render, Github Pages
            </p>
            <p>
              <span class="text-black dark:text-white">{t("pOne")}:</span>
              Linux, Git, Docker, Figma, Postman, Notion, Google Analytics
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
