---
import { contact } from "@/data/contact.json";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="text-sm font-light">
  <h3 class="text-black dark:text-white">{t("hSix")}</h3>
  <div class="grid gap-6 mt-3">
    {
      contact.map((template) => (
        <>
          <div class="text-neutral-500  items-start grid grid-cols-1 md:grid-cols-3">
            <div>
              <p class="text-neutral-500 dark:text-neutral-400">
                {template.type}
              </p>
            </div>
            <div class="md:col-span-2 w-full">
              <p class="text-black dark:text-white">
                <a
                  href={template.link}
                  target="_blank"
                  title={template.type}
                  class="underline hover:no-underline duration-200 after:content-['_↗']"
                >
                  {template.title}
                </a>
              </p>
            </div>
          </div>
        </>
      ))
    }
  </div>
</div>
