---
// import BaseHead from "../../components/BaseHead.astro";
// import ToggleTheme from "../../components/ui/ToggleTheme.astro";
// import ToggleLanguage from "../../components/ui/ToggleLanguage.astro";
// import Topbar from "../../components/ui/Topbar.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="min-h-lvh flex justify-center">
    <iframe
      src="/CV-AlexFarfan.pdf"
      width="50%"
      height="auto"
      style="border: none;"></iframe>
  </div>
</BaseLayout>
