---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-white dark:bg-black">
    <slot />
  </body><script>
    const themeToggle = document.getElementById("toggle-theme");
    const htmlElement = document.documentElement;

    if (localStorage.getItem("theme") === "dark") {
      htmlElement.classList.add("dark");
    }

    themeToggle.addEventListener("click", () => {
      htmlElement.classList.toggle("dark");
      const newTheme = htmlElement.classList.contains("dark")
        ? "dark"
        : "light";
      localStorage.setItem("theme", newTheme);
    });
  </script>
</html>
