---
import BaseHead from "../components/BaseHead.astro";
import ToggleTheme from "../components/ui/ToggleTheme.astro";
import ToggleLanguage from "../components/ui/ToggleLanguage.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-white dark:bg-black relative transition-all duration-300">
    <slot />
    <div
      class="md:hidden fixed p-4 bottom-0 w-full flex justify-between z-50 pointer-events-auto"
    >
      <ToggleLanguage />
      <ToggleTheme />
    </div>
  </body>
</html>
